[include]
  path = .gitconfig.local

[core]
  editor = vim
  excludesfile = .gitignore_global

[alias]
  st = status
  aa = add -A
  cc = commit
  cv = commit -v
  ca = commit --amend
  co = checkout
  df = diff
  dfs = diff --staged
  br = branch
  ref = reflog

[commit]
	template = .commit_template
