[include]
  path = .gitconfig.local

[core]
  editor = vim
  excludesfile = ~/.gitignore_global

[alias]
  st = status
  aa = add -A
  cc = commit
  cv = commit -v
  ca = commit --amend
  co = checkout
  df = diff
  dfs = diff --staged
  br = branch
  ref = reflog
  vaccum = !git branch --merged | egrep -v '\\*|dev|main|stage' | xargs git branch -d

[commit]
	template = ~/.commit_template
[user]
	email = yu.job96@gmail.com
	name = yuji1484
[push]
	default = current
[init]
	defaultBranch = main
